WARELYN_APP_NAME="Warelyn Inventory API"
WARELYN_APP_VERSION="0.1.0"
WARELYN_ENVIRONMENT="development"
WARELYN_DEBUG=true
WARELYN_API_PREFIX="/api"
WARELYN_DATABASE_URL="mysql+pymysql://warelyn:warelyn_dev_password@localhost:3306/warelyn_inventory"
WARELYN_CORS_ORIGINS='["http://localhost:5173", "http://127.0.0.1:5173"]'
